---

---

<div class="">
  <div id="invitation" class="relative max-w-[600px] mx-auto p-5">
    <div
      id="content"
      class="pt-28 px-10 md:px-20 pb-20 border border-[#fff] z-50"
    >
      <div class="text-6xl font-OT text-white text-center">Thân mời</div>
      <div
        class="mx-auto my-10 md:my-16 text-white text-lg leading-7 font-extralight"
      >
        <div class="pb-3">Xin chào!</div>
        Chào mừng bạn đến nơi lưu giữ kỹ niệm của đám cưới chúng mình - Đạt & Yến.
        Sau hơn 4 năm đồng hành cùng với nhau trong cuộc sống cũng như những cung
        đường dài. Vào một ngày hè tháng 7 2023, chúng mình đã suy nghĩ về một đám
        cưới của 2 người. Thật tuyệt sau một quãng thời gian rất dài chuẩn bị từ
        tháng 7, 2023. Chụp những shot ảnh cưới đầu tiên, những lời ngập ngừng khi
        đứng trước đại diện 2 bên gia đình. Và giờ đây còn vài ngày nữa thôi đám
        cưới chúng mình sẽ được tổ chức.

        <br />
        Chúng mình cả Đạt và Yến thân mời bạn đến dự đám cưới của tụi mình, chúng
        mình rất mong chờ sự hiện diện của bạn trong ngày trọng đại thiêng liêng
        này.

        <br />
        Chúng mình rất cảm ơn bạn đã dành thời gian sắp xếp tham dự đám cưới, dù
        cho 2 vị trí tổ chức tiệc cưới đã có phần không thuận lợi về mặt di chuyển.
        Chúng mình rất trân trọng điều tuyệt vời đó.

        <div
          class="ml-auto mt-10 w-full flex flex-col justify-center items-end"
        >
          <span> Trân Trọng </span>
          <span class="px-1"> Đạt & Yến </span>
        </div>
      </div>
    </div>
    <div class="absolute left-[-62%] bottom-[-26%] z-[-1]">
      <img
        src="https://nozze-next.netlify.app/_ipx/w_1920,q_75/%2F_next%2Fstatic%2Fmedia%2F1.3008e3c8.png?url=%2F_next%2Fstatic%2Fmedia%2F1.3008e3c8.png&w=1920&q=75"
      />
    </div>
    <div class="absolute right-[-76%] top-[5%] z-[-1]">
      <img
        src="https://nozze-next.netlify.app/_ipx/w_1920,q_75/%2F_next%2Fstatic%2Fmedia%2F2.3420df0d.png?url=%2F_next%2Fstatic%2Fmedia%2F2.3420df0d.png&w=1920&q=75"
      />
    </div>
  </div>
</div>

<style>
  #content {
    border-radius: 280px 280px 0 280px;
  }
  #invitation {
    box-shadow: 0 2px 16.8px 3.2px rgba(0, 0, 0, 0.08);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      #5d7c78;
    border-radius: 300px 300px 0 300px;
  }
</style>
