---

---

<div class="">
  <div id="invitation" class="relative max-w-[600px] mx-auto p-5">
    <div
      id="content"
      class="pt-28 px-10 md:px-20 pb-20 border border-[#fff] z-50"
    >
      <div class="text-6xl font-OT text-white text-center">Thân mời</div>
      <div
        class="mx-auto my-10 md:my-16 text-white text-lg leading-7 font-extralight"
      >
        Contrary to popular belief, Lorem Ipsum is not simply random text. It
        has roots in a piece of classical Latin literature from 45 BC, making it
        over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure
        Latin words, consectetur, from a Lorem Ipsum passage, and going through
        the cites of the word in classical literature, discovered the
        undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
        of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
        Cicero, written in 45 BC. This book is a treatise on the theory of
        ethics, very popular during the Renaissance. The first line of Lorem
        Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
        1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is
        reproduced below for those interested. Sections 1.10.32 and 1.10.33 from
        "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
        exact original form, accompanied by English versions from the 1914
        translation by H. Rackham.
      </div>
    </div>
    <div class="absolute left-[-62%] bottom-[-26%] z-[-1]">
      <img
        src="https://nozze-next.netlify.app/_ipx/w_1920,q_75/%2F_next%2Fstatic%2Fmedia%2F1.3008e3c8.png?url=%2F_next%2Fstatic%2Fmedia%2F1.3008e3c8.png&w=1920&q=75"
      />
    </div>
    <div class="absolute right-[-76%] top-[5%] z-[-1]">
      <img
        src="https://nozze-next.netlify.app/_ipx/w_1920,q_75/%2F_next%2Fstatic%2Fmedia%2F2.3420df0d.png?url=%2F_next%2Fstatic%2Fmedia%2F2.3420df0d.png&w=1920&q=75"
      />
    </div>
  </div>
</div>

<style>
  #content {
    border-radius: 280px 280px 0 280px;
  }
  #invitation {
    box-shadow: 0 2px 16.8px 3.2px rgba(0, 0, 0, 0.08);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      #5d7c78;
    border-radius: 300px 300px 0 300px;
  }
</style>
