---
---
<nav class="flex flex-row justify-between items-center py-3">
    <div>Logo</div>
    <ul class="flex flex-row justify-center items-center gap-5">
        <li class="fpmt-"><a href="">Trang Chủ</a></li>
        <li><a href="">Hành Trình</a></li>
        <li><a href="">Sự Kiện</a></li>
        <li><a href="">Album</a></li>
    </ul>
    <button class="border border-primary rounded-lg bg-white px-5 py-3">
        Liên hệ
    </button>
</nav>

