---
import { Image } from "astro:assets";
import logo from "../assets/images/logo.png";
---

<nav class="flex flex-row justify-between items-center py-3">
  <div>
    <Image src={logo} alt="logo" widths={[50, 75, 150, 200]} height={150} />
  </div>
  <ul class="hidden md:flex flex-row justify-center items-center gap-5">
    <li class="/"><a href="">Trang Chủ</a></li>
    <li><a href="#our-story">Hành Trình</a></li>
    <li><a href="#agenda">Sự Kiện</a></li>
    <li><a href="#album">Album</a></li>
  </ul>
  <button
    id="openModalBtn"
    class="border border-[#c8a898] rounded-lg bg-white px-8 py-3 hover:bg-[#c8a898] transition-all duration-300 hover:text-white text-[#c8a898] font-semibold"
  >
    Mừng Cưới
  </button>
</nav>
