---

---
<div>
    <div class="relative flex min-h-screen flex-col justify-center py-6 sm:py-12">
        <div  class="columns-2 lg:columns-4 [column-fill:_balance] box-border mx-auto before:box-inherit after:box-inherit">
          <div class="break-inside-avoid bg-gray-100 rounded-lg">
             <img class="p-2 2xl:p-4" src="https://nozze-next.netlify.app/_ipx/w_1920,q_75/%2F_next%2Fstatic%2Fmedia%2F3.884c9e49.jpg?url=%2F_next%2Fstatic%2Fmedia%2F3.884c9e49.jpg&w=1920&q=75" />
          </div>
          <div class="break-inside-avoid bg-gray-100 rounded-lg">
             <img class="p-2 2xl:p-4" src="https://nozze-next.netlify.app/_ipx/w_750,q_75/%2F_next%2Fstatic%2Fmedia%2F1.93171274.jpg?url=%2F_next%2Fstatic%2Fmedia%2F1.93171274.jpg&w=750&q=75" />
             <img class="p-2 2xl:p-4" src="https://nozze-next.netlify.app/_ipx/w_750,q_75/%2F_next%2Fstatic%2Fmedia%2F2.3ae9e934.jpg?url=%2F_next%2Fstatic%2Fmedia%2F2.3ae9e934.jpg&w=750&q=75" />
             <img class="p-2 2xl:p-4" src="https://preview.themeforest.net/item/nozze-wedding-wedding-planner-next-js-template/full_screen_preview/46154966?_ga=2.43618789.1331195487.1709998584-567382169.1682342670&_gac=1.154121546.1709998584.Cj0KCQiArrCvBhCNARIsAOkAGcUpJSXWqyaynF7R7vyDuuBPQ1xZGrlK9pLBSzN96FTMfbyBNokWvGkaAvzEEALw_wcB" />
             <img class="p-2 2xl:p-4" src="https://nozze-next.netlify.app/_ipx/w_750,q_75/%2F_next%2Fstatic%2Fmedia%2F4.28eff322.jpg?url=%2F_next%2Fstatic%2Fmedia%2F4.28eff322.jpg&w=750&q=75" />
          </div>
          <div class="break-inside-avoid bg-gray-100 rounded-lg">
            <img class="p-2 2xl:p-4" src="https://nozze-next.netlify.app/_ipx/w_750,q_75/%2F_next%2Fstatic%2Fmedia%2F5.e9ce7114.jpg?url=%2F_next%2Fstatic%2Fmedia%2F5.e9ce7114.jpg&w=750&q=75" />
            <img class="p-2 2xl:p-4" src="https://nozze-next.netlify.app/_ipx/w_1920,q_75/%2F_next%2Fstatic%2Fmedia%2F3.884c9e49.jpg?url=%2F_next%2Fstatic%2Fmedia%2F3.884c9e49.jpg&w=1920&q=75" />
            <img class="p-2 2xl:p-4" src="https://nozze-next.netlify.app/_ipx/w_1920,q_75/%2F_next%2Fstatic%2Fmedia%2F3.884c9e49.jpg?url=%2F_next%2Fstatic%2Fmedia%2F3.884c9e49.jpg&w=1920&q=75" />
            <img class="p-2 2xl:p-4" src="https://nozze-next.netlify.app/_ipx/w_1920,q_75/%2F_next%2Fstatic%2Fmedia%2F3.884c9e49.jpg?url=%2F_next%2Fstatic%2Fmedia%2F3.884c9e49.jpg&w=1920&q=75" />
          </div>
          <div class="break-inside-avoid bg-gray-100 rounded-lg">
            <img class="p-2 2xl:p-4" src="https://nozze-next.netlify.app/_ipx/w_750,q_75/%2F_next%2Fstatic%2Fmedia%2F6.c160b150.jpg?url=%2F_next%2Fstatic%2Fmedia%2F6.c160b150.jpg&w=750&q=75" />
            <img class="p-2 2xl:p-4" src="https://nozze-next.netlify.app/_ipx/w_750,q_75/%2F_next%2Fstatic%2Fmedia%2F6.c160b150.jpg?url=%2F_next%2Fstatic%2Fmedia%2F6.c160b150.jpg&w=750&q=75" />
            <img class="p-2 2xl:p-4" src="https://nozze-next.netlify.app/_ipx/w_1920,q_75/%2F_next%2Fstatic%2Fmedia%2F3.884c9e49.jpg?url=%2F_next%2Fstatic%2Fmedia%2F3.884c9e49.jpg&w=1920&q=75" />
            <img class="p-2 2xl:p-4" src="https://preview.themeforest.net/item/nozze-wedding-wedding-planner-next-js-template/full_screen_preview/46154966?_ga=2.43618789.1331195487.1709998584-567382169.1682342670&_gac=1.154121546.1709998584.Cj0KCQiArrCvBhCNARIsAOkAGcUpJSXWqyaynF7R7vyDuuBPQ1xZGrlK9pLBSzN96FTMfbyBNokWvGkaAvzEEALw_wcB" />
            <img class="p-2 2xl:p-4" src="https://nozze-next.netlify.app/_ipx/w_750,q_75/%2F_next%2Fstatic%2Fmedia%2F5.e9ce7114.jpg?url=%2F_next%2Fstatic%2Fmedia%2F5.e9ce7114.jpg&w=750&q=75" />
          </div>
          <div class="break-inside-avoid bg-gray-100 rounded-lg">
            <img class="p-2 2xl:p-4" src="https://nozze-next.netlify.app/_ipx/w_750,q_75/%2F_next%2Fstatic%2Fmedia%2F5.e9ce7114.jpg?url=%2F_next%2Fstatic%2Fmedia%2F5.e9ce7114.jpg&w=750&q=75" />
            <img class="p-2 2xl:p-4" src="https://nozze-next.netlify.app/_ipx/w_1920,q_75/%2F_next%2Fstatic%2Fmedia%2F3.884c9e49.jpg?url=%2F_next%2Fstatic%2Fmedia%2F3.884c9e49.jpg&w=1920&q=75" />
            <img class="p-2 2xl:p-4" src="https://nozze-next.netlify.app/_ipx/w_1920,q_75/%2F_next%2Fstatic%2Fmedia%2F3.884c9e49.jpg?url=%2F_next%2Fstatic%2Fmedia%2F3.884c9e49.jpg&w=1920&q=75" />
            <img class="p-2 2xl:p-4" src="https://nozze-next.netlify.app/_ipx/w_1920,q_75/%2F_next%2Fstatic%2Fmedia%2F3.884c9e49.jpg?url=%2F_next%2Fstatic%2Fmedia%2F3.884c9e49.jpg&w=1920&q=75" />
          </div>
      </div>
      </div>
</div>